spring:
  application:
    name: demo

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
        show_sql: true

  datasource:
    driver-class-name: org.h2.Driver
    url: 'jdbc:h2:./data/demo'
  sql:
    init:
      mode: always

